@model Qin_Eric_HW2.Models.StandardOrder

@{
    ViewData["Title"] = "CheckoutStandard";
}

<h1>Checkout Standard</h1>

<h4>StandardOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StandardTotals" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Customer Name:</label>
                <input asp-for="CustomerName" class="form-control"/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAdultTickets" class="control-label">Adult Tickets:</label>
                <input asp-for="NumberOfAdultTickets" class="form-control" />
                <span asp-validation-for="NumberOfAdultTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChildTickets" class="control-label">Child Tickets:</label>
                <input asp-for="NumberOfChildTickets" class="form-control" />
                <span asp-validation-for="NumberOfChildTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Home</a>
            </div>
        </form>
    </div>
</div>

