@{
	ViewData["Title"] = "Home";
}

<h1>
	Select an Order Type
</h1>

<div>
	<a asp-action="CheckoutStandard" class="btn btn-primary">Standard Order</a>
	<a asp-action="CheckoutEvent" class="btn btn-secondary">Event Order</a>
</div>